*{
	margin:0px;
	padding: 0px;
}
body{
	font-family: Tahoma;
	font-size: 13px;
	width: 1200px;
	margin: 0px auto;
}

#menu_top{
	background: red;
	height: 40px;
}

#banner{
	height: auto;
	width: 1200px;
}

#main #left{
	width: 900px;
	float: left;

}
#main #right{
	width: 300px;
	float: left;
	min-height: 400px;
}

#footer{
	background: #141414;
	width: 1200px;
	text-align: center;
	height:60px;
	color:#fff;
	clear: left;
	line-height: 60px;

}
#menu_top ul{
	margin: 0px;
	padding: 0px;
}

#menu_top ul li{
	list-style: none;
	float:left;
}

#menu_top ul li a{
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color:#000;
	padding: 0px 20px 0px 20px;
	border-right: 1px solid #ccc;
}

#menu_top ul li a.active{
	background: #1949b5;
	}

#banner img{
	width: 1200px;
}

#main #left ul{
	margin:0px;
	padding: 0px;
}

#main #left ul li{
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}

#main #left ul li img{
	float: left;
	margin-left: auto;
	margin-right:10px;
	margin-bottom: 20px;
}

#main #left ul li h2{
	font-size: 20px;
	margin-top: 0px;
}

#main{
	margin-top: 10px;
}

#main #right .menu_right ul{
	border: 1px solid #ccc;
}

#main #right .menu_right ul li{
	list-style: none;

}

#main #right .menu_right ul li a{
	display: block;
    text-decoration: none;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    background: url(../images/check.jpg) no-repeat;
    text-indent: 60px;
    color: #848484;
}

#main #right .menu_right ul li a:hover{
	color: blue;
}

#main #right .menu_right h3{
	background: #194d58 url(../images/menu.jpg) no-repeat;
	height: 40px;
	margin-top: 0px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}

#main #right .banner2 img{
	margin-top: 10px;
	width:300px;
	height:276px;
	-webkit-transform: scale(0.5);
	   -moz-transform: scale(0.5);
	    -ms-transform: scale(0.5);
	     -o-transform: scale(0.5);
	        transform: scale(0.5);
}

#main #right .banner2 img:hover{
	-webkit-transform: scale(1.0);
	   -moz-transform: scale(1.0);
	    -ms-transform: scale(1.0);
	     -o-transform: scale(1.0);
	        transform: scale(1.0);
}
#footer{
	font-size: 20px;
	
}